// 色の変数を指定
// main-color
$main-color: #F29E18;
$body-color: #f5f4ef;
$gray: #bebebe;
$success: #5cb85c;

.body {
    background-color: $body-color;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
}